<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
<div id="kk2" class="col l3">
        <h4><a style="font-size: 20px;" href="/home">Return to Home</a></h4>
    </div>
  </body>
</html>
